## Data and Library load

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import patches

In [7]:
sns.set_theme(style='whitegrid')
sns.set_palette('twilight')

In [2]:
train = pd.read_csv('/content/eng_train.csv')
test = pd.read_csv('/content/eng_test.csv')
submission = pd.read_csv('/content/eng_sample.csv')

In [3]:
print(train.shape)
print(test.shape)
print(submission.shape)

(31684, 7)
(7920, 6)
(7920, 2)

## Data check

### Columns

- index

- Send: 송부 상세 지역

- Rec: 수신 상세 지역

- item : 물픔_카테고리

- counts: 운송 수

- Send_grid: 송부 지역( 국내 시도군 )

- Rec_grid: 수신 지역(국내 시도군)

### Train

In [4]:
train.head()

,index,Send,Rec,item,counts,Send_grid,Rec_grid
0,0,5011000595017300,2871000192069300,음반,3,50110,28710
1,1,4148000690043300,5011000264024400,문화컨텐츠,3,41480,50110
2,2,5011000078068400,1120000007005400,농산물,3,50110,11200
3,3,4127100048006400,5011000587019400,기타식품,7,41271,50110
4,4,5011000078068400,2823700010076300,농산물,3,50110,28237

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      31684 non-null  int64
 1   Send       31684 non-null  int64
 2   Rec        31684 non-null  int64
 3   item       31684 non-null  object
 4   counts     31684 non-null  int64
 5   Send_grid  31684 non-null  int64
 6   Rec_grid   31684 non-null  int64
dtypes: int64(6), object(1)
memory usage: 1.7+ MB

### Test

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      7920 non-null   int64
 1   Send       7920 non-null   int64
 2   Rec        7920 non-null   int64
 3   item       7920 non-null   object
 4   Send_grid  7920 non-null   int64
 5   Rec_grid   7920 non-null   int64
dtypes: int64(5), object(1)
memory usage: 371.4+ KB

In [10]:
test.head()

   index              Send               Rec         item  Send_grid  Rec_grid
0      0  4167000577042200  5011000435014100          선케어      41670     50110
1      1  1156000009012200  5011000172034400       구강위생용품      11560     50110
2      2  4122000363057300  5011000361097300           캠핑      41220     50110
3      3  5011000436041400  2826000084036400       아웃도어가구      50110     28260
4      4  4150000241065200  5011000169044300  분유/이유식/아기간식      41500     50110

In [11]:
submission.head()

   index  counts
0      0       0
1      1       0
2      2       0
3      3       0
4      4       0